{% extends 'main/base.html' %}
{% load my_extras %}
{% block content %}
  <h1>{{ group.name }}</h1>
  
  {% if request.user.is_authenticated and request.user.id == group.professor_id %}
  <div class="form-group d-flex justify-content-between align-items-end">
    <div>
    <a class="btn btn-primary ml-2" href="{% url 'edit_group' group.id %}">Редактировать группу</a>
  </div>
  <div>
    <a class="btn btn-danger ml-2" href="{% url 'delete_group' group.id %}">Удалить группу</a>
  </div>
  </div>
  {% endif %}

  <table class="table table-bordered" id="myTable">
    <tr>
      <th>Студент</th>
      {% for task in group.tasks.all %}
        <th>{{ task.name }}</th>
      {% endfor %}
      <th style="width:10%">Средний балл</th>
    </tr>
    {% for student, grades in students_grades %}
      <tr>
        <td>{{ student.username }}</td>
        {% for grade in grades.values %}
          <td>{{ grade }}</td>
        {% endfor %}
        <td>{{ grades.values|average }}</td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
