{% extends 'main/base.html' %}
{% load my_extras %}
{% block content %}
  <h1>Группа: {{ group.name }}</h1>
  
  <table class="w-25">
    <tr>
      <th>Задача</th>
      <th>Оценка</th>
    </tr>
    {% for task, grade in tasks_grades %}
      <tr>
        <td><a href="{% url 'task_detail' task.slug %}">{{ task.name }}</a></td>
      
        <td>{{ grade }}</td>
      </tr>
    {% endfor %}
    <tr>
      <th>Среднее</th>
      <td>{{ tasks_grades.values|average }}</td>
    </tr>
  </table>

{% endblock %}
