{% extends 'main/base.html' %}
{% load my_extras %}
{% block content %}
  <h1>{{ group.name }}</h1>
  
  {% if request.user.is_authenticated and request.user.id == group.professor_id %}
  <div class="form-group d-flex justify-content-between align-items-end">
    <div>
    <a class="btn btn-primary ml-2" href="{% url 'edit_group' group.id %}">Редактировать группу</a>
  </div>
  <div>
    <a class="btn btn-danger ml-2" href="{% url 'delete_group' group.id %}">Удалить группу</a>
  </div>
  </div>
  {% endif %}

  <table class="table table-bordered" id="myTable">
    <tr>
      <th style="width:10%">Студент</th>
      <th style="width:10%">Средний балл</th>
      {% for task in group.tasks.all %}
        <th>{{ task.name }}</th>
      {% endfor %}
     
    </tr>
    {% for student, grades in students_grades %}
      <tr>
        <td>{{ student.username }}</td>
        <td>{{ grades.values|average }}</td>
        {% for grade in grades.items %}

          <td><a href="{% url 'submission_list' grade[0] student.username %}">{{ grade[1] }}</a></td>
        {% endfor %}
        
      </tr>
    {% endfor %}
  </table>

{% endblock %}
{% block extra_js %}
<script>
function toggleTableClass() {
  var table = document.getElementById("myTable");
  if (table) {
      if (localStorage.getItem("theme") === "dark") {
          table.classList.remove('table');
          table.classList.add('table-dark');
      } else {
          table.classList.remove('table-dark');
          table.classList.add('table');
      }
  }
}

window.addEventListener("DOMContentLoaded", function() {
  toggleTableClass();
});
</script>
{% endblock %}