{% extends 'main/base.html' %}
{% load my_extras %}
{% block content %}
  <h1>{{ group.name }}</h1>
  
  {% if request.user.is_authenticated and request.user.username == group.teacher %}
    <a class="btn btn-primary" href="{% url 'edit_group' group.id %}">Редактировать группу</a>
    <a class="btn btn-danger" href="{% url 'delete_group' group.id %}">Удалить группу</a>
  {% endif %}

  <table>
    <tr>
      <th>Студент</th>
      {% for task in group.tasks.all %}
        <th>{{ task.name }}</th>
      {% endfor %}
      <th>Average</th>
    </tr>
    {% for student, grades in students_grades %}
      <tr>
        <td>{{ student.username }}</td>
        {% for grade in grades.values %}
          <td>{{ grade }}</td>
        {% endfor %}
        <td>{{ grades.values|average }}</td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
