{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>{{ task.name|capfirst }}</h1> 
<pre>Сложность: {{ task.get_difficulty_display }}</pre>
<pre>{{ task.description }}</pre>
Пример: INPUT:<br>{{ test.input|linebreaksbr }} <br>OUTPUT:<br>{{ test.output|linebreaksbr }}

<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  {{ formset.management_form }}
  {% for test_form in formset %}
    {{ test_form|crispy }}
  {% endfor %}
  
  {% if user.choice == '2' and task.prepod == user.username %}
    <div class="buttons">
      <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
  {% endif %}
</form>

{% if user.choice == '2' and task.prepod == user.username %}
<div class="task">
  <form method="GET" action="{% url 'edit_task' task.pk %}">
    <button type="submit" class="btn btn-primary btn-sm">
      Редактировать задачу
    </button>
  </form>
  <br>
  <a href="{% url 'delete_task' task.id %}" class="btn btn-secondary">Удалить задачу</a>
  
</div>
{% endif %}

{% endblock %} 
