{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>{{ task.name|capfirst }}</h1> 
<pre>Сложность: {{ task.get_difficulty_display }}</pre>
<pre>{{ task.description }}</pre>
Пример: INPUT:<br>{{ test.input|linebreaksbr }} <br>OUTPUT:<br>{{ test.output|linebreaksbr }}
<div class="buttons">
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Отправить</button>
  </form>
  
  {% if user.choice == '2' and task.prepod == user.username %}
  <div class="task">
    <form method="GET" action="{% url 'edit_task' task.pk %}">
      <button type="submit" class="btn btn-primary btn-sm">
        Редактировать задачу
      </button>
    </form>
    <br>
    <form method="POST" action="{% url 'delete_task' task.pk %}">
      {% csrf_token %}
      <br>
      <button type="submit" class="btn btn-danger btn-sm">
        Удалить задачу
      </button>    
    </form>
  </div>
  {% endif %}
</div>

{% endblock %} 
