{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h1>{{ user.username }}</h1>

                <div class="row">
                    <div class="col-sm-6">
                        {% crispy user_form %}
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label for="access_code">Хотите получать оповещения в телеграме?</label>
                    {% if access_code %}
                    <p>Ваш код для активации бота:<h3>{{ access_code }}</h></p>
                    {% else %}
                    <input type="submit" class="btn btn-primary" name="generate_code" value="Сгенерировать код">
                    {% endif %}
                </div>
                <div>
                    <p>Введите этот код в нашем <a href="https://t.me/itcontest_kg_bot">Telegram боте</a></p>
                </div>
                <hr>
                <h2>Изменить пароль</h2>
                <div class="col-sm-6">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in password_form %}
                            {% if field.name != 'new_password1' and field.name != 'new_password2' %}
                                {{ field|as_crispy_field }}
                            {% else %}
                                <div class="form-group">
                                    {{ field|as_crispy_field }}
                                    <input type="checkbox" class="toggle-password" data-input="#id_{{ field.name }}">
                                    <label>Показать пароль</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <input type="submit" class="btn btn-primary" name="password_change" value="Изменить пароль">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script>
        const toggles = document.querySelectorAll('.toggle-password');

        toggles.forEach(toggle => {
            const input = document.querySelector(toggle.dataset.input);
            toggle.addEventListener('change', function (e) {
                const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
                input.setAttribute('type', type);
            });
        });
    </script>
{% endblock %}
